<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="vh-100" style="background-color: #eee">
        <div class="container h-100">
            <button class="btn btn-primary" id="openModalButton">Add Product</button>
            <form ng-submit="addProduct()">
                <div class="form-group">
                  <label for="productName">Product Name</label>
                  <input type="text" class="form-control" id="productName" ng-model="product.name"
                    required>
                </div>
                <div class="form-group">
                  <label for="productDescription">Product Description</label>
                  <textarea class="form-control" id="productDescription" ng-model="product.description"
                    rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="productPrice">Product Price Per Unit</label>
                  <input type="number" class="form-control" id="productPrice" ng-model="product.price"
                    required>
                </div>
                <div class="form-group">
                  <label for="productQuantity">Product Quantity</label>
                  <input type="number" class="form-control" id="productQuantity"
                    ng-model="product.quantity" required>
                </div>
                <div class="form-group">
                  <label for="productUnit">Product Unit</label>
                  <select class="form-control" id="productUnit" ng-model="product.unit">
                    <option value="k">k</option>
                    <option value="l">l</option>
                    <option value="r">r</option>
                  </select>
                </div>
              <!-- <div class="form-group">
                  <label for="productManufacturingDate">Manufacturing Date</label>
                  <input type="date" class="form-control" id="productManufacturingDate"
                    ng-model="product.manufacturingDate">
                </div>
                <div class="form-group">
                  <label for="productExpiryDate">Expiry Date</label>
                  <input type="date" class="form-control" id="productExpiryDate"
                    ng-model="product.expiryDate">
                </div>  -->
                <div class="form-group">
                  <label for="productImage">Product Image</label>
                  <input type="file" class="form-control" id="productImage" accept="image/*"
                    ng-model="product.image">
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                ng-click="cancelProductEdit(editingProduct)">
                Close
            </button>
            <button type="submit" class="btn btn-primary">
                Add 
            </button>
            </form>
        </div>

        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    
                </div>
            </div>
        </div>

        <div class="card-container">
          <div class="row">
            <div class="col-md-2 me-3 ms-4" style="width: 14rem" ng-repeat="product in products">
                <img ng-src="https://10.21.83.82:8000/media/{{ product.Image }}" alt="{{ product.Product_name }}"
                width="200" />
              <div class="card-body"> 
                <h5 class="card-title d-flex justify-content-center">{{ product.Product_name }}</h5>
                <div class="button" ng-hide="product.editMode">
                  <button class="btn btn-primary" ng-click="editProduct(product)">Edit</button>
                <button class="btn btn-primary" ng-click="delProduct(product)">Delete</button>
                </div>
                <div ng-if="product.editMode">
                  <form ng-submit="editProduct(product)">
                    <div class="form-group">
                      <label for="productName">Product Name</label>
                      <input type="text" class="form-control" id="productName" ng-model="editingProduct.updateName"
                        required>
                    </div>
                    <div class="form-group">
                      <label for="productDescription">Product Description</label>
                      <textarea class="form-control" id="productDescription" ng-model="editingProduct.updateDescription"
                        rows="3"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="productPrice">Product Price Per Unit</label>
                      <input type="number" class="form-control" id="productPrice" ng-model="editingProduct.updatePrice"
                        required>
                    </div>
                    <div class="form-group">
                      <label for="productQuantity">Product Quantity</label>
                      <input type="number" class="form-control" id="productQuantity"
                        ng-model="editingProduct.updateQuantity" required>
                    </div>
                    <div class="form-group">
                      <label for="productUnit">Product Unit</label>
                      <select class="form-control" id="productUnit" ng-model="editingProduct.updateUnit">
                        <option value="k">k</option>
                        <option value="l">l</option>
                        <option value="r">r</option>
                      </select>
                    </div>
                  <!-- <div class="form-group">
                      <label for="productManufacturingDate">Manufacturing Date</label>
                      <input type="date" class="form-control" id="productManufacturingDate"
                        ng-model="product.manufacturingDate">
                    </div>
                    <div class="form-group">
                      <label for="productExpiryDate">Expiry Date</label>
                      <input type="date" class="form-control" id="productExpiryDate"
                        ng-model="product.expiryDate">
                    </div>  -->
                    <div class="form-group">
                      <label for="productImage">Product Image</label>
                      <input type="file" class="form-control" id="productImage{{$index}}" accept="image/*"
                        ng-model="editingProduct.updateImage">
                    </div>
                    <button class="btn btn-primary" ng-click="saveEdit(product, $index)">
                      Add
                    </button>
                    <button class="btn btn-secondary" ng-click="cancelEdit(editingProduct)">
                      Cancel
                    </button>
                </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</body>
</html>