#search {
    color: black;
    border-color: #fe7b05;
}

#search:hover{
    background-color: #fe7b05;
    color: white;
}

#search-icon{
    font-family: "bootstrap-icons";
}

#username{
    font-family: "bootstrap-icons";
}

#password{
    font-family: "bootstrap-icons";
}

#search-icon:focus{
    border-color: #fe7b05;
}

.sale{
    position: absolute;
    bottom: 570px;
    left: 250px;
    font-size: 60px;
    color: #fe7b05;
}